<%= form_with model: @event, url: admin_events_path, local: true do |form| %>
  <div class="auth-field">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="auth-field">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="auth-field">
    <%= form.label :price %>
    <%= form.number_field :price, step: 0.01, class: 'form-control' %>
  </div>

  <div class="auth-field">
    <%= form.label :location %>
    <%= form.text_field :location, class: 'form-control' %>
  </div>

  <div class="auth-field">
    <%= form.label :media_files %>
    <%= form.file_field :media_files, multiple: true, accept: "image/*,video/*", class: 'form-control' %>
  </div>

  <%= form.submit "Save", class: "btn btn-primary" %>
<% end %>
