<section class="auth-container">
  <h1 class="page-title">Modifier le Profil</h1>
  <div class="auth-field label">
    <div class="card-body">
      <%= form_for(@user) do |f| %>
        <div class="mb-3">
          <%= f.label :username, "Nom d'utilisateur" %>
          <%= f.text_field :username, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :firstname, "Prénom" %>
          <%= f.text_field :firstname, class: "form-control" %>
          <%= f.check_box :show_firstname %> Afficher le Prénom
        </div>

        <div class="mb-3">
          <%= f.label :name, "Nom" %>
          <%= f.text_field :name, class: "form-control" %>
          <%= f.check_box :show_name %> Afficher le Nom
        </div>

        <div class="mb-3">
          <%= f.label :email, "Email" %>
          <%= f.email_field :email, class: "form-control" %>
          <%= f.check_box :show_email %> Afficher l'Email
        </div>

        <div class="mb-3">
          <%= f.label :age, "Âge" %>
          <%= f.number_field :age, class: "form-control", min: 0 %>
          <%= f.check_box :show_age %> Afficher l'Âge
        </div>

        <%= f.submit "Mettre à Jour", class: "btn btn-success" %>
        <%= link_to "Annuler", @user, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</section>
