<%= form_with(model: @event, local: true) do |form| %>
  <% if @event.errors.any? %>
    <div class="errors">
      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :author %>
    <%= form.text_field :author, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :location %>
    <%= form.text_field :location, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :pictures, 'Pictures' %>
    <%= form.file_field :pictures, multiple: true, class: 'form-control' %>
    
    <% if @event.pictures.attached? %>
      <div>
        <strong>Current Image:</strong>
        <% if @event.pictures.any? %> <!-- Vérifier si des images sont attachées -->
          <%= image_tag @event.pictures.first.variant(resize: "200x200"), class: 'img-fluid' %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :duration %>
    <%= form.number_field :duration, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.number_field :price, step: 0.01, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_select :date, { start_year: 2021, end_year: 2026 }, class: 'form-control' %>
  </div>

  <%= form.submit 'Modify Event', class: 'btn btn-success' %>
<% end %>

<%= link_to 'Back', event_path(@event), class: 'btn btn-secondary' %>
