<section class="auth-container">
  <h1 class="page-title">Contactez-Nous</h1>

  <%= form_with(model: @contact, url: contact_path, method: :post, local: true) do |f| %>
    <div class="auth-field">
      <%= f.label :name, "Nom", class: "auth-label" %>
      <%= f.text_field :name, required: true, placeholder: "Votre nom", class: "auth-input" %>
    </div>

    <div class="auth-field">
      <%= f.label :email, "Email", class: "auth-label" %>
      <%= f.email_field :email, required: true, placeholder: "Votre email", class: "auth-input" %>
    </div>

    <div class="auth-field">
      <%= f.label :message, "Message", class: "auth-label" %>
      <%= f.text_area :message, required: true, placeholder: "Votre message", class: "auth-textarea" %>
    </div>

    <div class="auth-actions">
      <%= f.submit "Envoyer le Message", class: "btn btn-primary" %>
    </div>
  <% end %>
</section>
