<section class="auth-container">
  <h2 class="auth-title">Connexion</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "auth-form" }) do |f| %>
    <div class="auth-field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "auth-input" %>
    </div>

    <div class="auth-field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password", class: "auth-input" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="auth-field remember-me">
        <%= f.check_box :remember_me, class: "auth-checkbox" %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="auth-actions">
      <%= link_to "S'Inscrire", new_registration_path(resource_name), class: "btn btn-primary" %>
      <%= f.submit "Se Connecter", class: "btn btn-primary" %>
      <%= link_to "Mot de Passe Oublié ?", new_password_path(resource_name), class: "btn btn-success" %>
    </div>
  <% end %>
</section>
