<section class="auth-container">
  <h1>Profil Utilisateur</h1>

  <p><strong>ID :</strong> <%= @user.id %></p>
  <p><strong>Email :</strong> <%= @user.email %></p>
  <p><strong>Rôle :</strong> <%= @user.super_admin? ? "Super Administrateur" : (@user.admin? ? "Administrateur" : "Utilisateur") %></p>

  <div class="buttons">
    <%= link_to "Modifier", edit_admin_user_path(@user), class: "btn btn-success" %>
    <%= link_to "Retour", admin_users_path, class: "btn btn-primary" %>

    <%= link_to "Supprimer", admin_user_path(@user), method: :delete, remote: true, data: { confirm: "Êtes-vous sûr ?" }, class: "btn btn-danger delete-user", id: "delete-user-#{@user.id}" %>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelector(".delete-user").addEventListener("ajax:success", function(event) {
      window.location.href = "/admin/users"; // Redirection after deletion
    });
  });
</script>
