<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "NEL" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  
    </head>

  <body>
    <div class="wrapper">
      <% flash.each do |key, message| %>
        <div class="alert alert-<%= key %>">
          <%= message %>
        </div>
      <% end %>
      <header class="header">
        <div class="header-container">
          <div class="welcome-message">
            <% if user_signed_in? %>
              <p>Welcome, <%= current_user.username.presence || "User" %>!</p>
            <% else %>
              <p>Welcome to our website!</p>
            <% end %>
          </div>

          <div class="nav-buttons">
            <% if user_signed_in? %>
              <%= link_to 'Shop', shop_path, class: 'btn btn-primary' %>
              
              <% if current_user.admin? || current_user.super_admin? %>
                <%= link_to 'Admin', admin_root_path, class: 'btn btn-success' %>
              <% end %>

              <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>

            <% else %>
              <%= link_to 'Sign Up', signup_path, class: 'btn btn-primary' %>
              <%= link_to 'Login', login_path, class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </header>

      
      <main class="content">
        <%= yield %>
      </main>

      <footer class="footer">
        <div class="footer-content footer-links">
          <%= link_to 'Contact Us', contact_path, class: 'btn' %>
          <%= link_to 'About Us', about_path, class: 'btn btn-success' %>
          <%= link_to 'Privacy Policy', cgu_path, class: 'btn btn-danger' %>
        </div>
      </footer>
    </div>
  </body>
</html>
