
<html>
  <head>
    <title><%= content_for(:title) || "NEL" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag "application", defer: true %>

    <!-- Favicon -->
    <link rel="icon" href="/assets/New%20era%20lissoise.png" type="image/png" style="width: 32px; height: 32px;">
  </head>

  <body>
    <div class="wrapper">
      
      <div class="flash-messages">
        <% flash.each do |key, message| %>
          <div class="flash alert-<%= key %>"><%= message %></div>
        <% end %>
      </div>

      <header class="header">
        <div class="header-container">
          <div class="welcome-message">
            <% if user_signed_in? %>
              <p>Welcome, <%= current_user.username.presence || "User" %>!</p>
            <% else %>
              <p>Welcome to our website!</p>
            <% end %>
          </div>

          <div class="nav-buttons d-flex">
            <% if user_signed_in? %>
              <%= link_to 'Home', root_path, class: 'btn btn-primary mr-3' %>

              <% if current_user.admin? || current_user.super_admin? %>
                <%= link_to 'Admin', admin_root_path, class: 'btn btn-success mr-3' %>
              <% end %>

              <!-- Ajout de la classe d-flex pour aligner le bouton -->
              <div class="d-flex align-items-center">
                <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
              </div>
            <% else %>
              <%= link_to 'Sign Up', signup_path, class: 'btn btn-primary mr-3' %>
              <%= link_to 'Login', login_path, class: 'btn btn-primary mr-3' %>
            <% end %>
          </div>
        </div>
      </header>

      <main class="content">
        <%= yield %>
      </main>

      <footer class="footer">
        <div class="footer-content footer-links">
          <%= link_to 'Contact Us', contact_path, class: 'btn' %>
          <%= link_to 'About Us', about_path, class: 'btn' %>
          <%= link_to 'Privacy Policy', cgu_path, class: 'btn' %>
          <% if user_signed_in? && current_user.over_18? %>
            <%= link_to 'Donate', 'https://donate.stripe.com/test_6oE9CBaC09Nj1dScMM', class: 'btn', target: '_blank', rel: 'noopener noreferrer' %>
          <% end %>
        </div>
      </footer>
    </div>
  </body>
</html>
