<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for(:title) || "Nouvelle Ère Lissoise" %></title>
    <meta name="description" content="Nouvelle Ère Lissoise - Votre plateforme pour explorer et gérer des événements, contacter l'équipe et plus encore.">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag "application", defer: true %>
</head>
<body>
    <%= yield %>
</body>
</html>
