<section class="page-container">
  <h1 class="page-title mt-4 mb-4">Membres</h1>
  <div class="users-container">
    <% @members.each do |member| %>
      <article class="user-card">
        <div class="card-body text-center">
          
        <!-- Images de Rôle -->
        
        <% if member.super_admin? %>
            <%= image_tag 'SuperAdmin.png', alt: 'Super Admin', class: 'role-icon' %>
          <% elsif member.admin? %>
            <%= image_tag 'king.png', alt: 'Admin', class: 'role-icon' %>
          <% else %>
            <%= image_tag 'Member.png', alt: 'Utilisateur', class: 'role-icon' %>
          <% end %>

          <!-- Nom d'Utilisateur -->
          <h5 class="card-title">
            <% if member.username.present? %>
              <%= member.username %>
            <% elsif member.firstname.present? && member.name.present? %>
              <%= "#{member.firstname} #{member.name}" %>
            <% else %>
              Utilisateur #<%= member.id %>
            <% end %>
          </h5>

          <%= link_to 'Voir', member_path(member), class: "btn btn-primary" %>
        </div>
      </article>
    <% end %>
  </div>
</section>